<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<h4>New Buffet</h4>
	</div>
	<form th:action="@{/addbuffet}" method="POST">
		<div>
			<div>Buffet name: <input name="name" type="text" required /><span th:if="${#fields.hasErrors('buffet.name')}" th:errors="*{buffet.name}"></span></div>
			<div>Buffet description: <input name="description" type="text" required /><span th:if="${#fields.hasErrors('buffet.description')}" th:errors="*{buffet.description}"></span></div>
			<div>Chef first name: <input type="text" th:field=*{chef.firstName}/><span th:if="${#fields.hasErrors('chef.firstName')}" th:errors="*{chef.firstName}"></span></div>
            <div>Chef last name: <input type="text" th:field=*{chef.lastName}/><span th:if="${#fields.hasErrors('chef.lastName')}" th:errors="*{chef.lastName}"></span></div>
		    <div>Chef nationality: <input type="text" th:field=*{chef.nationality}/><span th:if="${#fields.hasErrors('chef.nationality')}" th:errors="*{chef.nationality}"></span></div>
		    <div><button type="submit">submit</button></div>
		</div>
	</form>
</body>
</html>