<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
      <div>
		<div>
    	   <h4>Lista dei buffet:</h4>
		     <ul>
			   <li th:each="buffet : ${buffets}">
				  <div><a href="buffet.html" 
				   th:href="@{'/admin' + '/home' + '/' + ${buffet.id}}" 
				   th:text="${buffet.name}">...</a></div>
				   <div><a th:href="@{'/admin' + '/remove + '/' + ${buffet.id}}" th:method="POST">Remove</a></div>
			   </li>
		    </ul>
		    <div>
			  <a th:href="@{/addbuffet}"><button type="submit"> + </button></a>
   		    </div>
	    </div>
   		<div>
			<a th:href="@{/logout}"><button type="submit">logout</button></a>
   		</div>
    </div>
</body>
</html>