<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
      <div>
    	<h3 th:text="${buffet.name}"></h3>
    	<div th:text="${buffet.description}"></div>
    	<div>Dishes by the chef</div>
    	<div><a th:href="@{'/chef' + '/' + ${chef.id}}" th:text="${chef.lastName}">...</a></div>
		<div>
    	   <h4>Dish list: </h4>
		   <ul>
			   <li th:each="dish : ${buffet.dishes}">
				  <div><a th:href="@{'/buffet' + '/' + ${dish.id}}" th:text="${dish.name}">...</a></div>
			   </li>
		   </ul>
	    </div>
    </div>
</body>
</html>