<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <title>Ingredient Page</title>
        <link rel="stylesheet" th:href="@{/css/dish.css}" />
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    </head>
<body>
      <div>
		<div>
    	   <h2>Ingredient selected: </h2>
		   <div class="Container_Dish">
				<h3 th:text=" ${ingredient.name}"></h3>
				<div th:text=" ${ingredient.origin}"></div>
				<div th:text=" ${ingredient.description}"></div>
			</div>
	    </div>
    </div>
</body>
</html>