html{

    height: 100%;
     width: 100%;
 
 }
 body{
     padding: 0;
     margin: 0;
     font-family: 'Poppins', sans-serif;
     height: 100%;
     width: 100%;
     background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
 }
 h1{
    color: #092518; 
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; font-weight: 800; 
    line-height: 72px; margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
}
h2{
    color: #092518; 
    font-family: 'Raleway',sans-serif; 
    font-size: 30px; font-weight: 800; 
    line-height: 36px; margin: 0 0 24px; 
    text-align: center;

}
span.linkheader a:link {  /* Pseudoclase compuesta a para links */
    color: white;   /* Afecta a links no visitados descendientes de un span con clase linkheader*/
}

span.linkheader a:visited {  /* Pseudoclase compuesta a para links */
    color: white;  /* Afecta a links visitados descendientes de un span con clase linkheader*/
}

span.linkheader a:hover {  /* Pseudoclase compuesta a para links */
    color: red;  /* Afecta a links cuando pones el raton encima descendientes de un span con clase linkheader*/
}

a:hover,a:active
{
background-color:pink;
}
ul{
	
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;

}
li{
float:left;
}
.generic{
	
	margin:2em;
	
}
.socialMedia{

    align-items: baseline;
}
